.img img {
    width: 100%;
}

.img {
    position: relative;
    overflow: hidden;
}


.secondary-img {
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
    /* opacity: 0; */
    /* transform: translateX(-100%); */
    transform: translateY(-100%);
}

.img:hover .secondary-img {
    /* opacity: 1; */
    /* transform: translateX(0); */
    transform: translateY(0);
}